## Cache files and folders
*.pyc
__pycache__
*.egg-info/

## Tests
.pytest_cache
.cache
.coverage

## virtual environment
.env

## Configuration
targets.ini

## Logs
*.log
*.log.*

## Docs
docs/_build/
